<label>Title: <input ng-model="mt" type="text" /></label><br /><br />
<label>Photo: <input ng-model="mp" type="text" /></label><br /><br />
<br /><br />
<button ng-click="addMovie()">Add Movie</button>
<table border="0">
	<tr>
		<th>Index</th>
		<th>Title</th>
		<th>Poster</th>
		
	</tr>
	<tr ng-repeat="movie in movies">
		<td>{{ movie.sl }}</td>
		<td>{{ movie.title }}</td>
		<td><img ng-src="{{ movie.poster }}" width="50" height="50" align="absmiddle" /></td>		
	</tr>

</table>
<a href="#/">Home</a>


